#div404Error{

    /* content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    -webkit-transform: scale(2.4);
    -ms-transform: scale(2.4);
    transform: scale(2.4);
    border-radius: 20%; */
    background-color: #f2f5f8;
    z-index: -1;
}git push origin --delete feature/login

.error404Font{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
}
