#colophon .footer-logo {

    a {
        color: #bbb;
        font-size: 26px;
        text-decoration: none;
    }
}
#main-feature.huge {

    h1 {
        text-transform: uppercase;
    }

    h2 {
        font-variant: small-caps;
        text-transform: capitalize;
    }

}