body {
  background: #f5f1e8 url('/img/bg-gradient-sand.png') repeat-x;
  background: url('../images/bg-gradient-sand.png') repeat-x, #f5f1e8;
  font-family: 'Fira Sans', 'Open Sans', sans-serif !important;
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

.title {
  font-family: 'Zilla Slab', Courier, serif;
}

#mozilla-india-wordmark {
  font-family: 'Zilla Slab Highlight', Courier, serif;
  font-size: 1.16rem;
  font-variant: bold;
  font-weight: 700;
  letter-spacing: 1px;
  background: black;
  color: white;
}

a:visited {
  color: purple;
  text-decoration: underline;
}

.iconed-list .icon img {
  max-height: 16px;
}

.iconed-list .icon img#blog-image {
  max-height: 24px;
}

.footer {
  margin-top: 20px;
}
.icon-tile {
  margin-right: 6px;
}

@media (min-width: 640px) {
  .metalinks {
    display: flex;
  }

  .metalinks .box {
    width: 40%;
    margin: 0 5% 1.5rem 5%;
  }
}

.groupsgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  width: 15rem;
  margin: 0 2.5% 1.5rem 2.5%;
}
