body {
  background:#f5f1e8 url("/img/bg-gradient-sand.png") repeat-x;
  background:url("../images/bg-gradient-sand.png") repeat-x,url("/img/bg-sand.png") repeat,#f5f1e8;
  font-family: 'Fira Sans', 'Open Sans', sans-serif !important;
}

.title {
  font-family: 'Zilla Slab', Courier, serif;
}

#mozilla-india-wordmark {
  font-family: 'Zilla Slab Highlight', Courier, serif;
  font-size: 1.16rem;
  font-variant: bold;
  font-weight: 700;
  letter-spacing: 1px;
  background: black;
  color: white;
}

.iconed-list .icon img {
  max-height:16px;
}

.iconed-list .icon img#blog-image {
  max-height: 24px;
}

.footer {
  margin-top: 20px;
}