.group-logo {
  /* Not the most graceful way to do things */
  width: 80px !important;
  height: 80px;
  background-size: contain;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  margin-top: 5px;
}

.group-box {
  display: flex;
  flex: 3;
  min-height: 140px;
}

.group-details {
  padding-left: 15px;
}
